{% extends "base.html" %} {% block title %}Bookings{% endblock %}
{% block content %}

<style>
    .regMain {
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    

    .centered-element {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 148px;
      }

    @media (max-width: 768px) {
        .regMain {
            width: 95%;
        }
    }
</style>

<div class="container-fluid regMain">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Book Flights!</h4>
            <p class="card-text">Book flights to your favourite destinations!</p>

            <form method="POST">
                <form method="POST">
                    <!-- F L I G H T  S E A R C H -->
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="departure">Departure</label>
                        <select class="form-select" name="departure">
                            <option></option>

                            {% for flight in flightDepartNames %}

                            <option value="{{ flight[0] }}">{{ flight[0] }}</option>

                            {% endfor %}

                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <label class="input-group-text" for="destination">Destination</label>
                        <select class="form-select" name="destination">
                            <option></option>

                            {% for flight in flightDestNames %}

                            <option value="{{ flight[0] }}">{{ flight[0] }}</option>

                            {% endfor %}

                        </select>
                    </div>
                    <input type="hidden" name="action" value="searchFlights">
                    <button class="btn btn-primary w-100" type="submit">Search</button>

                </form>

                <!-- F L I G H T  S E A R C H  R E S U L T -->

                <div style="width:100%; text-align:center;">

                    <style>
                        .cardRework {
                            display: inline-block;
                            margin: auto;
                            width: 32%;
                        }

                        @media (max-width: 768px) {
                            .cardRework {
                                width: 100%;
                            }
                        }
                    </style>
                    {% if departANDdest %}
                    {% for plane in departANDdest %}



                    <div class="card mt-3 cardRework">
                        <div class="card-body" style="text-align:center;">

                            <h5 class="card-title">{{plane[1]}}</h5>
                            <h5 class="card-title">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                                </svg>
                            </h5>
                            <h5 class="card-title">{{plane[2]}}</h5>
                            <br>
                            <hr style="width:70%; margin:auto;">
                            <br>

                            <div class="card" style="width:45%;float:left; margin-right:10%;">
                                <p class="card-text" style="margin:0; padding:0;">Takeoff</p>
                                <p class="card-text" style="margin:0; padding:0;">{{plane[3]}}</p>
                                <hr style="width:70%; margin:auto;">
                                <p class="card-text" style="margin:0; padding:0;">Landing</p>
                                <p class="card-text" style="margin:0; padding:0;">{{plane[4]}}</p>
                            </div>

                            <div class="card" style="width:45%;">
                                <p class="card-text" style="margin:0; padding:0;">Price</p>
                                <p class="card-text" style="margin:0; padding:0;">£{{plane[5]}}</p>
                                <hr style="width:70%; margin:auto;">
                                <p class="card-text" style="margin:0; padding:0;">Seats</p>
                                <p class="card-text" style="margin:0; padding:0;">{{plane[6]}}</p>
                            </div>

                            <br>
                            <hr style="width:70%; margin:auto;">
                            <br>

                            <form method="POST">
                                <input type="hidden" name="flightID" value="{{plane[0]}}">
                                <input type="hidden" name="action" value="selectFlight">
                                <button class="btn btn-primary w-50" type="submit">Book</button>
                            </form>



                        </div>
                    </div>



                    {% endfor %}
                    {% endif %}

                </div>
            </form>

        </div>
    </div>
</div>









</div>
</div>
</div>


<script>


</script>



{% endblock %}