{% extends "base.html" %} {% block title %}Privacy Policy{% endblock %}
{% block content %}


<style>
    .regMain {
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
</style>


<div class="container-fluid regMain">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Privacy Policy</h4>
            <p class="card-text">Read over how we store your data</p>

            <hr>

            <p>
                Horizon Travels is committed to protecting your privacy. We will only use the information that we
                collect about you lawfully (in accordance with the Data Protection Act 1998). We collect information
                about you for 2 reasons: firstly, to process your booking and second, to provide you with the best
                possible service. We will not e-mail you in the future unless you have given us your consent. We
                will give you the chance to refuse any marketing email from us or from another trader in the future.
                The type of information we will collect about you includes: your name, address, phone number, email
                address, credit/debit card details. We will never collect sensitive information about you without
                your explicit consent. The information we hold will be accurate and up to date. You can check the
                information that we hold about you by emailing us. If you find any inaccuracies we will delete or
                correct it promptly. The personal information which we hold will be held securely in accordance with
                our internal security policy and the law. We may use technology to track the patterns of behaviour
                of visitors to our site. This can include using a "cookie" which would be stored on your browser.
                You can usually modify your browser to prevent this happening. If you have any questions/comments
                about privacy, you should email us.</p>

                <p>
                At Horizon Travels we are dedicated to keeping your data safe under the GDPR. This means we will not
                share your data with anybody unless required to do so by law, or we have explicitly asked for your
                permission to share specific data. This also means that all of your data will be stored securly and
                kept up-to-date and relavent. </p>

        </div>
    </div>
</div>


{% endblock %}